watta
watta.ini
src/watta.pro.user
src/Makefile
src/dbconnection.o
src/dlglogs.o
src/dlgpreferences.o
src/main.o
src/preferences.o
src/qtlogger.o
src/qtmysqlconnection.o
src/qtmysqlquerymodel.o
src/session.o
src/tracer.o
src/wattamainapp.o
src/workday.o
src/moc_dlglogs.cpp
src/moc_dlglogs.o
src/moc_dlgpreferences.cpp
src/moc_dlgpreferences.o
src/moc_qtmysqlquerymodel.cpp
src/moc_qtmysqlquerymodel.o
src/moc_wattamainapp.cpp
src/moc_wattamainapp.o
src/qrc_watta.cpp
src/qrc_watta.o
src/ui_dlglogs.h
src/ui_dlgpreferences.h
